<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div class="header">
            <img src="{{ url_for('static', filename='img/logo.png') }}" width="250"/>
            <label class="header"></label> 
        </div>
        <div class="pads">
            <img src="{{ url_for('static', filename='img/redX.png') }}" width="18" style="padding: 0px 10px 0px 0px"/>
            <label class="createTitle">Service Failed to Create</label>
        </div>
        <div class="pads">
        <form action="/">
            <button>Services</button>
        </form>
        </div>
    </body>
</html>