<html>
    <body>
        <h3>Service No.: </h3>
        <label>{0}</label>
        <h3>Date Time: </h3>
        <label>{1}</label>
        <h3>Theme: </h3>
        <label>{2}</label>
        <h3>Songleader: </h3>
        <label>{3}</label>
        </br>
        </br>
        <table border='1'>
            <tr>
                <td>seq_num
                <td>event
                <td>title
                <td>name
                <td>notes

            </tr>        
            {4}
        </table>
        </br>
        </br>
        </br>
        </br>
        <form action='/'>
            <h4>DateTime: </h4>
            <input id='nameText' type='text' name='DateTime' />
            </br>
            </br>
            <h4>Theme: </h4>
            <input id='nameText' type='text' name='Theme' />
            </br>
            </br>
            <h4>Songleader: </h4>
            <input id='nameText' type='text' name='Songleader (placeholder)' />
            </br>
            </br>
            <input type='submit' name='action' value='Submit' />
        </form>
    </body>
</html>