<html>
    <body>
        <label>Service No.</label>
        <label>{0}</label>
        </br>
        <label>Date Time</label>
        <label>{1}</label>
        <table border='1'>
            <tr>
                <td>Service #
                <td>Date
                <td>Theme
                <td>songleader
                <td>organist
                <td>pianist
                <td>seq_num
                <td>event
                <td>title
                <td>name
                <td>notes

            </tr>        
            {2}
        </table>
    </body>
</html>