<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='img/logo.png') }}" width="250"/>
        <label class="header">Service Info</label> 
    </div>
    <div class="default" style="position: fixed; top: 130; left: 15;">
        <div class="pads">
        <label class="statsTitle"><b>Service #: </b></label>
        <label class="stats">{0}</label>
        </br>
        </br>
        <label class="statsTitle"><b>Date Time: </b></label>
        <label class="stats">{1}</label>
        </br>
        </br>
        <label class="statsTitle"><b>Theme: </b></label>
        <label class="stats">{2}</label>
        </br>
        </br>
        <label class="statsTitle"><b>Songleader: </b></label>
        <label class="stats">{3}</label>
        </br>
        </br>
        </div>
    </div>
    <div style="position: fixed; top: 130; left: 500;">
        <table border='1' class="default">
            <tr>
                <td style="font-size: 20; padding: 5px; text-align: center;"><b>sequ_num</b>
                <td style="font-size: 20; padding: 5px; text-align: center;"><b>event</b>
                <td style="font-size: 20; padding: 5px; text-align: center;"><b>name</b>
                <td style="font-size: 20; padding: 5px; text-align: center;"><b>title</b>
                <td style="font-size: 20; padding: 5px; text-align: center;"><b>notes</b>

            </tr>        
            {4}
        </table>
        </br>
        </br>
        </br>
        </br>
    </div>
    <div class="default" style="position: fixed; top: 370; left: 15;">
    <form action='/' >
        <div class="pads">
        <label class="createTitle"><b>Create New Service</b></label>
        </br>
        </br>
        <label class="createParams"><b>DateTime: </b></label>
        <input id='nameText' type='text' name='DateTime' placeholder="yyyy-mm-dd hh:mm:ss" required/>
        <label style="color: red; font-size: 20px;">*</label>
        </br>
        </br>
        <label class="createParams"><b>Theme: </b></label>
        <input id='nameText' type='text' name='Theme' value="{2}"/>
        </br>
        </br>
        <label class="createParams"><b>Songleader: </b></label>
        <select name="songleader" id="songleader">
            <option value="" style="text-align: center;">-</option>
            {5}
        </select>
        </br>
        </br>
        <input type="hidden" name="serviceID" value="{0}">
        <input type='submit' name='action' formaction="/createService" value='Submit' />
        </br>
        </br>
        </div>
    </form>
    </div>
    <div class="pads" style="position: fixed; top: 85">
        <form action="/">
            <button>Back</button>
        </form>
    </div>
</body>
</html>