<html>
    <body style="background-color: lightgray;">
        <table border='1' style="background-color: mintcream; padding: 15px 15px 15px 15px; border-radius: 15px;">
            <tr>
                <td style="font-size: 20; padding: 5px; text-align: center;"><b>Service #</b>
                <td style="font-size: 20; padding: 5px; text-align: center;"><b>Date</b>
                <td style="font-size: 20; padding: 5px; text-align: center;"><b>Theme</b>
                <td style="font-size: 20; padding: 5px; text-align: center;"></td><b></b>
            </tr>        
            {0}
        </table>
    </body>
</html>