<html>
    <head> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div class="header">
            <img src="https://media.discordapp.net/attachments/1047937487235989574/1047937631637487686/logo.png" width="250"/>
            <label class="header">Services</label> 
        </div>
        <div style="position: fixed; top: 100; padding: 5px 5px 5px 5px;">
        <table border='1' class="default">
            <tr>
                <td class="header"><b>Service #</b>
                <td class="header"><b>Date</b>
                <td class="header"><b>Theme</b>
                <td class="header"></td><b></b>
            </tr>        
            {0}
        </table>
        </div>
    </body>
</html>